:root {
  --color_theme: #00b3be;
  --color_primary: #4a4a4a;
  --color_accent: #91d763;
  --color_background: #ffffff;
  --font: Arial;
}

body {
  font: 18px/1 Arial, sans-serif;
  color: var(--color_primary);
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("http://fonts4web.ru/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("http://fonts4web.ru/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("http://fonts4web.ru/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("http://fonts4web.ru/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
